.Champ-Container {
  width: 100%;
  height: 90rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  .champs-title {
    text-align: center;
    font-size: 4rem;
  }
  .Card-Holder-Champs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .Champs-Card {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 21rem;
      height: 18rem;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    .Champs-Card:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
  }
}
