.head {
  width: 45vw;
  height: 12vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0.75rem;
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .title {
    text-align: center;
    color: rgb(0, 83, 10);
    font-size: 4rem;
  }
}
