.ImageTwo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2rem;
  .IMG-Two {
    height: 40rem;
    width: 24rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}
