@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  vertical-align: baseline;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote::before, blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input [type=radio] {
  vertical-align: text-bottom;
}

input [type=checkbox] {
  vertical-align: bottom;
}

.ie7 input [type=checkbox] {
  vertical-align: baseline;
}

.ie6 input[type=checkbox] {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font-size: 99%;
}

small {
  font-size: 99%;
}

strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.05em;
}

sub {
  bottom: -0.025em;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

button,
input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
body {
  background-color: gainsboro;
}

/* dark shades of primary color*/
/* The primary/main color */
/* lighter shades of primary color */
/* dark shades of secondary color*/
/* secondary color */
/* lighter shades of secondary color */
/* darkest grey - used for headings */
/* grey used for paragraphs */
/* lightest grey - used for outlines */
/* Other Colors used */
.navbar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 2px white solid;
}
.navbar .icon {
  height: 6rem;
  width: 8rem;
}
.navbar .title {
  color: white;
  font-size: 3rem;
  margin-left: -3rem;
}
.navbar .nav-link {
  font-size: 1.3rem;
  color: #009011;
  text-decoration: none;
}
.navbar .nav-link:hover {
  font-size: 1.8rem;
  color: aliceblue;
}
.navbar .nav-link:active {
  color: #009011;
}

.roster-Container {
  width: 100%;
  height: 56rem;
  background-color: #141414;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.roster-Container .Roster-title {
  text-align: center;
  color: #009011;
  font-size: 4rem;
}

.roster {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.roster .roster-card {
  width: 16vw;
  height: 30vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #161616;
}
.roster .roster-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 14vh;
  width: 10vw;
  margin-top: 1rem;
}
.roster .Roster-Player {
  margin-top: 0.5rem;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.roster .Roster-Info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: white;
}
.roster .Roster-Info .Roster-height {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 6vw;
  text-align: center;
  height: 3vh;
  margin-left: 1rem;
}
.roster .Roster-Info .Roster-Wieght {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 6vw;
  text-align: center;
  height: 3vh;
  margin-right: 1rem;
}
.roster .Roster-Info .Roster-Position {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 9vw;
  text-align: center;
  height: 3vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  color: white;
}

.banner-container {
  align-items: center;
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 50rem;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-container .banner {
    width: 100%;
    height: 100%;
  }
}
.banner-container:hover .banner {
  opacity: 0.5;
}
.banner-container:hover .banner:hover {
  box-shadow: 0px 0px 10px 6px black;
  flex: 4 1;
  font-size: 20pt;
  opacity: 1;
}
.banner-container:hover .banner:hover .banner-name {
  flex: 0 0 60px;
}
.banner-container .banner {
  background: none 50%;
  background-size: cover;
  box-shadow: 0 0 0 0 black;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: flex-end;
  transition: 0.3s;
}
.banner-container .banner .banner-name {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex: 1 1;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
}
.banner-container #Batman-banner {
  background-image: url(https://besthqwallpapers.com/Uploads/19-5-2020/133804/thumb2-jaylen-brown-2020-4k-boston-celtics-nba.jpg);
}
.banner-container #Super-banner {
  background-image: url(https://pbs.twimg.com/media/E1uLYKkXoAYrGhd?format=jpg&name=4096x4096);
}
.banner-container #Wonder-banner {
  background-image: url(https://pbs.twimg.com/media/EK9zOCgWoAA0NIG.jpg);
}
.banner-container #Flash-banner {
  background-image: url(https://www.themarysue.com/wp-content/uploads/2018/12/Aquaman-featured.jpg);
}

.VideoOne-Container {
  height: 40rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.VideoOne-Container .VideoOne {
  width: 50rem;
  height: 30rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Celtics-Games {
  width: 100%;
  background-color: #0c0c0c;
  height: 40rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.Celtics-Games .Games-header {
  text-align: center;
  font-size: 5rem;
  color: #009011;
}
.Celtics-Games .Game-Container {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.Celtics-Games .Game-Container .Game {
  width: 20rem;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 3px 6px, rgba(255, 255, 255, 0.23) 0px 3px 6px;
  background-color: #202020;
  margin: 1.5rem;
  padding: 1rem;
  color: white;
}
.Celtics-Games .Game-Container .Game-HomeTeam {
  display: flex;
  justify-content: flex-start;
}
.Celtics-Games .Game-Container .Game-HomeTeam .Game-HomeImg {
  height: 4rem;
  width: 5rem;
}
.Celtics-Games .Game-Container .Game-HomeTeam .Game-Home {
  margin-top: 1rem;
  font-size: 2rem;
  margin-left: 1rem;
  color: white;
}
.Celtics-Games .Game-Container .Game-HomeTeam .Game-homeScore {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: white;
}
.Celtics-Games .Game-Container .Game-AwayTeam {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
.Celtics-Games .Game-Container .Game-AwayTeam .Game-AwayImg {
  height: 4rem;
  width: 5rem;
}
.Celtics-Games .Game-Container .Game-AwayTeam .Game-Away {
  margin-top: 1rem;
  font-size: 2rem;
  margin-left: 1rem;
  color: white;
}
.Celtics-Games .Game-Container .Game-AwayTeam .Game-awayScore {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  color: white;
}

.banner-container {
  align-items: center;
  background: #e0e0e0;
  display: flex;
  flex-direction: row;
  height: 50rem;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .banner-container {
    flex-direction: column;
  }
  .banner-container .banner {
    width: 100%;
    height: 100%;
  }
}
.banner-container:hover .banner {
  opacity: 0.5;
}
.banner-container:hover .banner:hover {
  box-shadow: 0px 0px 10px 6px black;
  flex: 4 1;
  font-size: 20pt;
  opacity: 1;
}
.banner-container:hover .banner:hover .banner-name {
  flex: 0 0 60px;
}
.banner-container .banner {
  background: none 50%;
  background-size: cover;
  box-shadow: 0 0 0 0 black;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  font-size: 10pt;
  height: 100%;
  justify-content: flex-end;
  transition: 0.3s;
}
.banner-container .banner .banner-name {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex: 1 1;
  justify-content: center;
  width: 100%;
  transition: 0.3s;
}
.banner-container #Batman-banner1 {
  background-image: url(https://wallpaperaccess.com/full/2011588.png);
}
.banner-container #Super-banner2 {
  background-image: url(https://wallpaperaccess.com/full/3867608.jpg);
}
.banner-container #Wonder-banner3 {
  background-image: url(https://wallpapercave.com/wp/wp2405240.jpg);
}

.standings {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.standings .Standings-header {
  text-align: center;
  font-size: 2rem;
}
.standings .east {
  margin: 1rem;
}
.standings .east .east-Standings {
  width: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-top: 5px;
  height: 4rem;
}
.standings .east .team-IMG {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
}
.standings .east .team-Name {
  width: 20rem;
  text-align: left;
  margin-left: 1rem;
}
.standings .west {
  margin: 1rem;
  margin-left: 1rem;
}
.standings .west .West-Standings {
  width: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-top: 5px;
  height: 4rem;
}
.standings .west .team-IMG {
  width: 5rem;
  height: 3rem;
  margin-left: 1rem;
}
.standings .west .team-Name {
  width: 20rem;
  text-align: left;
  margin-left: 1rem;
}

.ImageThree {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.ImageThree .image-three {
  height: 40rem;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Champ-Container {
  width: 100%;
  height: 90rem;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.Champ-Container .champs-title {
  text-align: center;
  font-size: 4rem;
}
.Champ-Container .Card-Holder-Champs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Champ-Container .Card-Holder-Champs .Champs-Card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 21rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.Champ-Container .Card-Holder-Champs .Champs-Card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}/*# sourceMappingURL=index.css.map */